# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CarServiceManagement.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\andrejs.atkacuns\RiderProjects\CarServiceManagement\.idea\.idea.CarServiceManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
